<footer class="mt-4">
    <div class="footer-top-row py-5">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col-12">
                    <hr class="footer-line">
                    <span class="footer-title">Why book Flight & Hotel with VoyaQuest?</span>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <img src="images/icons8-time-50.png" alt="Flexibility" class="footer-image mb-2">
                    <h5 class="footer-column-title">Flexibility</h5>
                    <p class="footer-description">Enjoy flexible booking options tailored to your travel needs. Whether it’s a quick weekend escape or a last-minute change, VoyaQuest has you covered.</p>
                </div>
                <div class="col-md-4">
                    <img src="images/icons8-carry-on-bag-50.png" alt="Ease in Booking" class="footer-image mb-2">
                    <h5 class="footer-column-title">Ease in Booking</h5>
                    <p class="footer-description">Booking flights and hotels with VoyaQuest is fast, simple, and secure, helping you get to your dream destination with ease and comfort.</p>
                </div>
                <div class="col-md-4">
                    <img src="images/icons8-savings-50.png" alt="Savings" class="footer-image mb-2">
                    <h5 class="footer-column-title">Savings</h5>
                    <p class="footer-description">Take advantage of exclusive deals and save big on every trip. Our competitive prices mean more savings for your next adventure.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
