.btn-pill {
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50px;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-pill i {
    font-size: 12px;
}

.btn-pill.active {
    background-color: #ef732a;
    color: #ffffff;
    border-color: #ef732a;
}

.btn-pill:hover,
.btn-pill:focus {
    background-color: #ef732a;
    color: #ffffff;
    border-color: #ef732a;
}

.btn-flight i,
.btn-hotel i {
    margin-right: 8px; 
}

.custom-signin-btn {
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.custom-signin-btn:hover,
.custom-signin-btn:focus {
    background-color: #ef732a;
    color: #ffffff;
    border-color: #ef732a;
}

.custom-signin-btn i {
    margin-right: 8px;
}

.navbar {
    border-bottom: 1px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}