@page "/"
@using VoyaQuest.Models;
@using VoyaQuest.Components.Forms;

<PageTitle>Home</PageTitle>

<div class="hero-section">
    <video autoplay muted loop id="background-video">
        <source src="videos/background-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="container">
        <div class="hero-text">
            <h1>Explore the world with the best flight deals, from any destination.</h1>
            <p class="subheading">Book now and save on your next adventure!</p>
        </div>

        <div class="search-form container mt-5">
            <div class="form-row mb-4">
                <div class="col-md-2">
                    <select id="tripType" class="form-select">
                        <option value="return" selected>Return</option>
                        <option value="one-way">One Way</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <PassengersDropdown travelDetails="@travelDetails" />
                </div>

                <div class="col-md-2">
                    <select id="cabinClass" class="form-select">
                        <option value="economy" selected>Economy</option>
                        <option value="premium-economy">Premium Economy</option>
                        <option value="business">Business</option>
                        <option value="first">First</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <BagsDropdown travelDetails="@travelDetails" />
                </div>
            </div>

            <div class="form-row">
                <div class="col position-relative">
                    <AirportAutocompleteInput Placeholder="From?" IconClass="fas fa-plane-departure" />
                </div>

                <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-exchange-alt"></i>
                </div>

                <div class="col position-relative">
                    <AirportAutocompleteInput Placeholder="To?" IconClass="fas fa-plane-arrival" />
                </div>
                 
                <div class="col">
                    <input type="date" id="departure" class="form-control input-with-icon">
                </div>
                <div class="col return-date">
                    <input type="date" id="return" class="form-control input-with-icon">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // Create a new instance of the TravelDetails class used to store the user's travel details before flight search
    private TravelDetails travelDetails = new TravelDetails();
}