@using VoyaQuest.Models.HotelbedsResponse
@inject VoyaQuest.Interfaces.IHotelbedsService HotelbedsService

<div>
    <h2>Hotel List</h2>
    <ul>
        @if (hotels != null && hotels.Any())
        {
            Console.WriteLine("Hotels available");
            @foreach (var hotel in hotels)
            {
                <li>
                    <h3>@hotel.name</h3>
                </li>
            }
        }
        else
        {
            <p>No hotels available at the moment.</p>
        }
    </ul>
</div>

@code {
    private List<Hotel> hotels;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            hotels = await HotelbedsService.GetHotelsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }
}