@using VoyaQuest.Models;

<div class="dropdown passengers-dropdown">
    <button class="btn btn-select" type="button" data-bs-toggle="dropdown">
        @travelDetails.GetPassengerText()
    </button>
    <ul class="dropdown-menu p-3">
        <li class="d-flex justify-content-between align-items-center">
            <span>Adults (18+)</span>
            <div class="input-group">
                <button class="btn btn-minus" @onclick="DecreaseAdults">-</button>
                <input type="text" class="form-control text-center" value="@travelDetails.AdultCount" readonly>
                <button class="btn btn-plus" @onclick="IncreaseAdults">+</button>
            </div>
        </li>
        <li class="mt-2 d-flex justify-content-between align-items-center">
            <span>Children</span>
            <div class="input-group">
                <button class="btn btn-minus" @onclick="DecreaseChildren">-</button>
                <input type="text" class="form-control text-center" value="@travelDetails.ChildCount" readonly>
                <button class="btn btn-plus" @onclick="IncreaseChildren">+</button>
            </div>
        </li>
    </ul>
</div>

@code {
    [Parameter] public TravelDetails travelDetails { get; set; } = new TravelDetails();

    // Increase and decrease the number of adults
    private void IncreaseAdults() => travelDetails.AdultCount++;
    private void DecreaseAdults() { if (travelDetails.AdultCount > 1) travelDetails.AdultCount--; }

    // Increase and decrease the number of children
    private void IncreaseChildren() => travelDetails.ChildCount++;
    private void DecreaseChildren() { if (travelDetails.ChildCount > 0) travelDetails.ChildCount--; }
}
